/code/app/bootstrap.php.cache
/code/app/cache/*
!code/app/cache/.gitkeep
/code/app/config/parameters.yml
/code/app/logs/*
!code/app/logs/.gitkeep
/code/app/phpunit.xml
/code/bin/
/code/composer.phar
/code/vendor/
/code/web/bundles/

.DS_Store
