{% extends '::base.html.twig' %}

{% block title 'The title' %}

{% block body %}
	{% for i in 1..count %}
		Hello <strong>{{ name | upper }}</strong> # {{ i }}!
	{% endfor %}

	<h2>Event Details</h2>
	{{ event.name }}
	{{ event.location }}
{% endblock %}
